@model Query

@{
    ViewData["Title"] = "Результат";
}

<h1>Результат</h1>
<hr />
@if (string.IsNullOrEmpty(Model.Error))
{
    @if (Model.QueryId.Equals("S1"))
    {
        <p style="font-size:20px">
            <b>Середня ціна альбомів артиста @Model.ArtistName:</b> @decimal.Round(Model.AvgPrice, 2, MidpointRounding.AwayFromZero)
        </p>
    }

    else if (Model.QueryId.Equals("S2"))
    {
        <p style="font-size:20px">
            <b>Назви всіх альобмів артиста з ім'ям @Model.ArtistName</b>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Назва
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AlbumTitles.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.AlbumTitles[i]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else if (Model.QueryId.Equals("S3"))
    {
        <p style="font-size:20px">
            <b>Імена артистів, які не мають альбомів з назвою @Model.AlbumTitle</b>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ім'я/назва
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ArtistNames.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ArtistNames[i]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else if (Model.QueryId.Equals("S4"))
    {
        <p style="font-size:20px">
            <b>Назви та ціни всіх альбомів усіх артистів з лейблу @Model.LabelName</b>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Назва
                    </th>
                    <th>
                        Ціна
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AlbumTitles.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.AlbumTitles[i]
                        </td>
                        <td>
                            @decimal.Round(Model.AlbumPrices[i], 2, MidpointRounding.AwayFromZero)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else if (Model.QueryId.Equals("S5"))
    {
        <p style="font-size:20px">
            <b>Назви жанрів, у якому написана хоча б одна пісня з альбомів артиста на імя @Model.ArtistName</b>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ім'я
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.GenreNames.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.GenreNames[i]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else if (Model.QueryId.Equals("C1"))
    {
        <p style="font-size:20px">
            <b>dwdwdawdwadwadsadwdsad @Model.ArtistId</b>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Назва
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.LabelNames.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.LabelNames[i]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<table>
    <tr>
        <td>
            <form method="get" asp-controller="Queries" asp-action="Index">
                <input type="submit" class="btn btn-primary" value="Назад до запитів" />
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form method="get" asp-controller="Home" asp-action="Index">
                <input type="submit" class="btn btn-primary" value="На головну" />
            </form>
        </td>
    </tr>
</table>


<div class="modal fade" id="error" tabindex="-1" role="alertdialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Повідомлення</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorText">
                @Model.Error
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        window.addEventListener("load", function () {
            if ('@Model.ErrorFlag' == 1) {
                $("#error").modal();
            }
        });
    </script>
}